:root {

}

body {
    background: linear-gradient(-45deg, #5788fa, #0202fe, #23a6d5, #1406d5);
    /* height: 100%; */
    /* color:white; */
}

.header {
    /* outline: solid 2px black; */
    text-align: center;
}

.searchInputBox {
    /* outline: solid 2px red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 60%; */
    /* padding: 2%; */
}

.input-group-append {
    /* display: flex; */
}
.form-control {
    box-shadow: 0px 0px 10px 2px black;
}

.btn {
    box-shadow: 0px 0px 10px 2px black;
}

#inputForm {
    
    width: 500px;
    /* height: 50px; */
    /* outline: solid 2px black; */
    
}

.pageBox {
    display: flex;
    /* outline: solid 2px black; */
    width: 98vw;
    height: 98vh;
    /* max-height: 1100px; */
    margin: 2%;
    
}



.searchBox {
    /* outline: solid 2px black; */
    /* display: flex; */
    width: 49%;
    height: 100%;
    padding: 1%;
    box-shadow: 0px 0px 10px 2px black;
    /* background-color: grey; */
    background: linear-gradient(-45deg, #707070, #383839, #606162, #1406d5);
}

.movieHeaderBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    /* width: 50%; */
}

.movieTitleBox {
    width: 81%;
    padding: 1%;
}

.moviePosterBox {
    display: flex;
    justify-content: right;
    align-items: right;
}

#moviePoster {
    box-shadow: 0px 0px 10px 2px black;
}

.trailerBox {
    /* outline: solid 2px black; */
    /* display: flex; */
    width: 49%;
    height: 100%;
    padding: 1%;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px black;
    height: 100%;
    /* background-color: grey; */
    background: linear-gradient(-45deg, #1406d5, #606162, #707070, #383839);
}

.trailer h1 {
    text-align: center;
}

#youtubeVideo {
    box-shadow: 0px 0px 10px 2px black;
}
